.about {

  .photo-wrap {
    display: flex;
    justify-content: flex-start;

    @media (max-width: 1023px) {
      justify-content: center;
      margin-bottom: 20px;
    }

    img {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      padding: .3rem;
      border: 2px solid var(--primary-orange);
    }
  }

  .about-heading {
    color: var(--primary-orange);
  }

  p {
    font-size: 1.2rem;
  }

  @media (max-width: 1023px) {
    text-align: center;
  }
}