.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 3rem 0;

  h1 {
    margin-bottom: 2.5rem;
    color: var(--primary-orange);
  }

  .experience-wrapper {
    position: relative;
    padding: 3.125rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      margin-left: -0.0625rem;
      width: 0.125rem;
      height: 100%;
      background: var(--primary-grey);
      z-index: 1;
    }

    .timeline-block {
      width: calc(45%);
      margin-bottom: 2rem;
      z-index: 3;

      .timeline-content {
        color: var(--primary-dark-grey);
      }
    }

    .timeline-block-right {
      align-self: flex-end;

      h3 {
        display: inline-flex;

        hr {
          width: 50px;
          height: 3px;
          background: red;
          margin-left: -80px;
          margin-right: 20px;
        }
      }
    }

    .timeline-block-left {
      text-align: right;

      h3 {
        display: inline-flex;

        hr {
          width: 50px;
          height: 3px;
          background: red;
          margin-left: 20px;
          margin-right: -80px;
        }
      }
    }
  }
}