.header-wrapper {
  position: relative;
  background: url('../img/wall-and-laptop-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

  .main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    padding: 1rem;

    h1 {
      font-size: 4rem;
      color: var(--primary-orange);

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    .typed-text {
      font-size: 3rem;
      color: var(--primary-white);

      @media (max-width: 768px) {
        font-size: 1.75rem;
      }
    }

    .btn-main-offer {
      border: 1px solid var(--primary-red);
      padding: 10px 12px;
      font-size: 1.5rem;
      color: var(--primary-white);
      text-decoration: none;
      margin: 1.25rem;
      transition: .2s ease-in-out;

      &:hover {
        border: 1px solid var(--lighter-red);
        background: var(--lighter-red);
      }

      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }
}