.testimonials {
  background: url('../img/testimonials-bg.jpg');
  background-size: cover;
  background-color: var(--primary-black);
  text-align: center;
  padding: 4rem 0 3rem 0;

  h1 {
    color: var(--primary-orange);
    margin-bottom: 2.5rem;
  }

  .testimonials-content {
    text-align: center;
    max-width: 53.125rem;
    margin: 0 auto;
    background: var(--primary-transparent-black);
  }
}