@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

:root {
  --primary-white: #fff;
  --primary-dark: rgb(44, 44, 44);
  --primary-light-grey: #f4f4f4;
  --primary-orange: #f9ab00;
  --primary-red: #ef4035;
  --lighter-red: #f33501;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

@import './navbar';
@import './header';
@import './about';
@import './services';