@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

@import './navbar';